:root {
  --border_width: 1px solid;
  --background_color: green;
}


.footer_container {
  height: 250px;
  background-color: var(--background_color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding: 20px
}

.footer_one,
.footer_two {
  border-right: var(--border_width) #000;
}