/* /card */
/* width: 375px;
height: 608px;
flex-shrink: 0;
Copy border-radius: 10px;
background: #22262C; */

/* card color #BC1E4A;  */
/* bg #191B1D; */

.container {

  background-color: #191B1D;
}